body {
    display: flex;
    justify-content: center;
}

.not-found-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.error-message {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.not-found-title {
    color: var(--titleist);
}

.not-found-subtitle {
    color: var(--textual);
}

.error-number {
    color: var(--textual);
}

.love-message {
    position: absolute;
    bottom: 0;
}