@media (max-width: 492px) {
    .handlebar {
        display: flex;
    }
    #popupElements {
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        position: fixed;
        bottom: 0;
    }
    #feedbackPopup.active {
        opacity: 1;
    }
    #popupElements.active {
        opacity: 1;
        transform: translateY(0);
    }
    .popup-model {
        margin-bottom: 16px;
    }
}

@media (max-width: 600px) {
  .paragraph-large {
    font-size: 18px;
  }
  .skill-title {
    font-size: 18px;
  }
  .company-name {
    font-size: 18px;
  }
}

@media (max-width: 639px) {
    /* Resume */
    .company-header {
        justify-content: space-between;
        gap: 8px;
    }
    .paragraph-large {
        font-size: 20px;
    }
}

@media (min-width: 640px) {
    /* Resume */
    .company-header {
        gap: 12px;
    }
}