@media (max-width: 600px) {
  .paragraph-xlarge {
    font-size: 20px;
  }
  .paragraph-large {
    font-size: 18px;
  }
}

@media (max-width: 492px) {
    .handlebar {
        display: flex;
    }
    #popupElements {
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        position: fixed;
        bottom: 0;
    }
    #feedbackPopup.active {
        opacity: 1;
    }
    #popupElements.active {
        opacity: 1;
        transform: translateY(0);
    }
    .popup-model {
        margin-bottom: 16px;
    }
}